@keyframes line-animate {
  to {
    stroke-dashoffset: 0;
  }

  0% {
    stroke-dashoffset: 525;
  }
}

@keyframes car-animate {
  0% {
    transform: translate(-757.184px, 11058.605px) rotate(0deg);
  }

  50% {
    transform: translate(-745.184px, 10896.605px) rotate(9deg);
  }

  to {
    transform: translate(-726.184px, 10820.605px) rotate(13deg);
  }
}

@keyframes animate-car-pulse {
  0%,
  to {
    transform: scale(1);
  }

  50% {
    transform: scale(0.4);
  }
}

@keyframes redline-animate-1 {
  0% {
    stroke-dashoffset: 500;
    stroke: #0074e9;
  }

  99% {
    stroke-dashoffset: 1000;
    stroke: #0074e9;
  }

  to {
    stroke-dashoffset: 1000;
    stroke: #db1515;
  }
}

@keyframes redline-animate-2 {
  0%,
  75% {
    stroke-dashoffset: 150;
    stroke: #0074e9;
  }

  99% {
    stroke-dashoffset: 300;
    stroke: #0074e9;
  }

  to {
    stroke-dashoffset: 300;
    stroke: #db1515;
  }
}

@keyframes redline-animate-3 {
  0%,
  65% {
    stroke-dashoffset: 600;
  }

  to {
    stroke-dashoffset: 1200;
  }
}

@keyframes pulse-location {
  to {
    transform: translate(1061px, 1485px) scale(1);
  }

  0% {
    transform: translate(1061px, 1485px) scale(0.5);
  }
}

@keyframes show-sign-animation {
  to {
    transform: var(--t) scale(1);
  }

  0% {
    transform: var(--t) scale(0.2);
  }
}

@keyframes animate-popup {
  0% {
    transform: translate(2184.1px, 12626px) scale(0.9);
  }

  to {
    transform: translate(2184.1px, 12626px) scale(1);
  }
}

@keyframes animate-blue-line {
  0% {
    stroke-dashoffset: 960;
  }

  to {
    stroke-dashoffset: 1920;
  }
}

@keyframes animate-icons {
  to {
    transform: var(--t) scale(1);
  }

  0% {
    transform: var(--t) scale(0);
  }
}

@keyframes animate-power-lines {
  0% {
    stroke-dashoffset: -150px;
  }

  50% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 150px;
  }
}

@keyframes shake-icons {
  0%,
  to {
    transform: var(--t) scale(1);
  }

  50% {
    transform: var(--t) scale(1.2);
  }
}

@keyframes detection-red-1 {
  0%,
  30%,
  60%,
  90% {
    transform: translate(-130px, -317px) scale(1);
  }

  15%,
  45%,
  75%,
  to {
    transform: translate(-130px, -317px) scale(1.1);
  }
}

@keyframes detection1 {
  0% {
    transform: translate(15000px, -19498px);
  }

  to {
    transform: translate(14770px, -19498px);
  }
}

@keyframes detection-red-2 {
  0%,
  30%,
  60%,
  90% {
    transform: translate(514px, -1363px) scale(1);
  }

  15%,
  45%,
  75%,
  to {
    transform: translate(514px, -1363px) scale(1.1);
  }
}

@keyframes detection2 {
  0% {
    transform: translate(14771px, -19600px);
  }

  to {
    transform: translate(14771px, -19499px);
  }
}

@keyframes detection-red-3 {
  0%,
  30%,
  60%,
  90% {
    transform: translate(-151px, -392px) scale(1);
  }

  15%,
  45%,
  75%,
  to {
    transform: translate(-151px, -392px) scale(1.1);
  }
}

@keyframes detection3 {
  0% {
    transform: translate(15938.1px, -11049.4px);
  }

  to {
    transform: translate(15938.1px, -10949.4px);
  }
}

@keyframes red-alert-scale {
  0%,
  to {
    transform: var(--t) scale(1);
  }

  50% {
    transform: var(--t) scale(1.15);
  }
}

@keyframes red-scale-animation {
  0%,
  to {
    transform: translate(204.55px, 15px) scale(1);
  }

  50% {
    transform: translate(204.55px, 15px) scale(1.1);
  }
}

@keyframes bounce-map-icon {
  0%,
  to {
    transform: translate(212px, 14px);
  }

  50% {
    transform: translate(212px, 20px);
  }
}

@keyframes map-icon {
  0% {
    transform: translate(212px, -50px);
  }

  to {
    transform: translate(212px, 14px);
  }
}

@keyframes animate-gift {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes jss14 {
  0% {
    filter: grayscale(1);
    opacity: 0.1;
  }

  100% {
    filter: grayscale(0);
    opacity: 1;
  }
}

@keyframes jss16 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes jss17 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes jss247 {
  0% {
    transform: translate(-300px, 90px);
  }

  100% {
    transform: translate(100px, 20px);
  }
}

@keyframes jss248 {
  0% {
    transform: translate(100px, 20px);
  }

  33% {
    transform: translate(120px, 40px);
  }

  66% {
    transform: translate(80px, 40px);
  }

  100% {
    transform: translate(100px, 20px);
  }
}

@keyframes jss249 {
  0% {
    left: 900px;
    bottom: -450px;
  }

  100% {
    left: 400px;
    bottom: -200px;
  }
}

@keyframes jss252 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes jss253 {
  0% {
    transform: var(--t) scale(1);
  }

  50% {
    transform: var(--t) scale(1.05);
  }

  100% {
    transform: var(--t) scale(1);
  }
}

@keyframes jss262 {
  0% {
    transform: translate(982.548px, 347.193px) rotate(13deg) scale(0.64);
  }

  100% {
    transform: translate(982.548px, 347.193px) rotate(13deg) scale(1);
  }
}

@keyframes jss261 {
  0% {
    transform: translate(1099.914px, 407.733px) rotate(13deg) scale(0.6);
  }

  100% {
    transform: translate(1099.914px, 407.733px) rotate(13deg) scale(1);
  }
}

@keyframes jss260 {
  0% {
    transform: translate(1182.737px, 452.058px) rotate(13deg) scale(0.33);
  }

  100% {
    transform: translate(1182.737px, 452.058px) rotate(13deg) scale(1);
  }
}

@keyframes jss259 {
  0% {
    transform: translate(1264.737px, 495.058px) rotate(13deg) scale(0);
  }

  100% {
    transform: translate(1264.737px, 495.058px) rotate(13deg) scale(1);
  }
}

@keyframes jss34 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes jss46 {
  0% {
    transform: rotate(360deg) translate(-5px) rotate(-360deg);
  }

  100% {
    transform: rotate(0deg) translate(-5px) rotate(0deg);
  }
}

@keyframes jss48 {
  0% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }

  100% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
}

@keyframes jss50 {
  0% {
    transform: rotate(360deg) translate(-15px) rotate(-360deg);
  }

  100% {
    transform: rotate(0deg) translate(-15px) rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes jss24 {
  0% {
    height: 0;
  }
}

@keyframes jss13 {
  0% {
    box-shadow: 0 0 0 0 rgba(159, 117, 255, 0.4);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(159, 117, 255, 0.4);
  }
}

@keyframes jss64 {
  0% {
    stroke-dashoffset: 680;
  }

  60%,
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes jss65 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes jss77 {
  0%,
  100% {
    transform: translate(-606px, -133px);
  }
}

@keyframes jss75 {
  0% {
    transform: var(--t) scale(0);
  }
  100% {
    transform: var(--t) scale(1);
  }
}

@keyframes jss73 {
  0% {
    transform: translate(41px, 10422.7px) scale(0.16) rotate(-89.689deg);
  }
  33% {
    transform: translate(-55px, 10476.7px) scale(0.54) rotate(-89.689deg);
  }
  66% {
    transform: translate(-107px, 10508.7px) scale(0.75) rotate(-89.689deg);
  }
  100% {
    transform: translate(-170.971px, 10543.7px) scale(1) rotate(-89.689deg);
  }
}

@keyframes jss67 {
  0% {
    transform: translate(115.058px, 66.565px) scale(0.3);
  }

  33%,
  66%,
  100% {
    transform: translate(115.058px, 66.565px) scale(1);
  }
}

@keyframes jss69 {
  0% {
    transform: translate(59.55px, 34.195px) scale(0.22);
  }
  33% {
    transform: translate(59.55px, 34.195px) scale(0.71);
  }
  66%,
  100% {
    transform: translate(59.55px, 34.195px) scale(1);
  }
}

@keyframes jss71 {
  0% {
    transform: scale(0.16);
  }
  33% {
    transform: scale(0.54);
  }
  66% {
    transform: scale(0.76);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes jss55 {
  0%,
  60% {
    transform: translate(83.68343px, 572.952px);
  }
  100% {
    transform: translate(430.684px, 356.952px);
  }
}

@keyframes jss57 {
  0%,
  100% {
    transform: translate(-606px, -133px);
  }
}

@keyframes jss58 {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jss62 {
  0% {
    transform: translate(711px, 262px) scale(0.53);
  }
  100% {
    transform: translate(498.54px, 126.911px) scale(1);
  }
}

@keyframes jss79 {
  0%,
  100% {
    transform: translate(-606px, -133px);
  }
}

@keyframes jss63 {
  0% {
    transform: var(--t) scale(0);
  }
  100% {
    transform: var(--t) scale(1);
  }
}

@keyframes jss82 {
  0%,
  100% {
    transform: var(--t) scale(1.1);
  }
  50% {
    transform: var(--t) scale(1);
  }
}

.animateHomeIcons {
  transform: translate(742.047px, 605.512px);
  transition-delay: 0.5s;
}

.animateHomeIcons > g {
  animation: animate-icons 0.5s ease 0.5s, shake-icons 3s linear 1.5s infinite;
}

.animateHomeIcons > g,
.detectionRed1,
.detectionRed2,
.detectionRed3 {
  transform-origin: center;
  transform-box: fill-box;
}

.detectionRed1 {
  animation: detection-red-1 1s linear 0.5s;
}

.detection1 {
  transform: translate(14770px, -19498px);
  transition-delay: 0.5s;
  animation: detection1 0.5s ease 0.5s;
}

.detectionRed2 {
  animation: detection-red-2 1s linear 1.5s;
}

.detection2 {
  transform: translate(14771px, -19499px);
  transition-delay: 1.5s;
  animation: detection2 0.25s ease-in 1.5s;
}

.detectionRed3 {
  animation: detection-red-3 1s linear 2s;
}

.detection3 {
  transform: translate(15938.1px, -10949.4px);
  transition-delay: 2s;
  animation: detection3 0.25s ease-in 2s;
}

.animateCards {
  transform: rotate(0deg) !important;
  transition: transform 0.5s ease 0.75s;
}

.redAlert {
  transform: translate(-667px, -1662px);
  transition-delay: 1.25s;
}

.redAlert > g {
  transform-box: fill-box;
  transform-origin: center;
  animation: red-alert-scale 0.7s ease-in 1.25s infinite;
}

.icons {
  transform: translate(-5234.322px, 8352.273px);
  transition-delay: 2s;
}

.icons > g > g {
  transform-origin: center;
  transform-box: fill-box;
  animation: animate-icons 0.5s ease 2s;
}

.car {
  transform: translate(123px) rotate(9deg) !important;
  transition: transform 0.5s linear 2.5s;
}

.animatePhone {
  transform: translate(186px, 135px) rotate(0) !important;
  transition: transform 1s ease 0.5s;
}

.animateMap {
  transform: translate(80px, 40px) !important;
  transition: transform 0.5s ease-in 1.5s;
}

.redSquareAnimate {
  transform: translate(204.55px, 15px) scale(1);
  transition-delay: 2.25s;
  transform-origin: center;
  transform-box: fill-box;
  animation: red-scale-animation 0.7s ease-in 2.25s infinite;
}

.animateMapIcon {
  animation: map-icon 0.7s ease-in 2.5s, bounce-map-icon 0.75s linear 3.2s infinite;
}

.css-1p50bs0 {
  transform: rotate(8deg);
  transform-origin: bottom left;
  transform-box: fill-box;
}

.css-11ie41i {
  transform: rotate(-20deg);
  transform-origin: bottom right;
  transform-box: fill-box;
}

.jss13 {
  filter: grayscale(1);
  opacity: 0.1;
  animation: jss14 1s ease infinite;
}

.jss15 {
  animation: jss16 550ms ease-in, jss17 2s linear infinite 650ms;
  transform-box: fill-box;
  transform-origin: center;
}

.showSign {
  transform-origin: center;
  transform-box: fill-box;
  animation: show-sign-animation 0.5s ease;
  transform: var(--t);
}

.redLineAnimation1 path {
  stroke-dasharray: 500;
  animation: redline-animate-1 2s linear;
}

.redLineAnimation2 path {
  stroke-dasharray: 150;
  animation: redline-animate-2 3s linear;
}

.redLineAnimation3 path {
  stroke-dasharray: 600;
  animation: redline-animate-3 5s linear;
}

.pulseLocation {
  transform-box: fill-box;
  transform-origin: center;
  transform: translate(1061px, 1485px) scale(1);
  animation: pulse-location 0.5s ease-in infinite;
}

.jss246 {
  animation: jss247 2s linear, jss248 2500ms linear infinite 2s;
}

.jss245 {
  left: 400px;
  bottom: 0;
  position: absolute;
  animation: jss249 1s linear;
  @media only screen and (min-width: 1024px) {
    bottom: -200px;
  }
}

.jss251 {
  animation: jss252 500ms linear;
}

.jss251 > path {
  animation: jss253 750ms linear infinite 550ms;
  transform: var(--t);
  transform-box: fill-box;
  transform-origin: center;
}

.jss254 > path {
  transform-box: fill-box;
  transform-origin: center;
}

.jss258 {
  animation: jss262 1250ms linear infinite 3750ms;
  transform: translate(982.548px, 347.193px) rotate(13deg) scale(0);
}

.jss257 {
  animation: jss261 1250ms linear infinite 2500ms;
  transform: translate(1099.914px, 407.733px) rotate(13deg) scale(0);
}

.jss256 {
  animation: jss260 1250ms linear infinite 1250ms;
  transform: translate(1182.737px, 452.058px) rotate(13deg) scale(0);
}

.jss255 {
  animation: jss259 1250ms linear infinite;
  transform: translate(1264.737px, 495.058px) rotate(13deg) scale(0);
}

.jss33 {
  animation: jss34 500ms linear;
}

.jss45 {
  animation: jss46 6s linear infinite;
}

.jss47 {
  animation: jss48 6s linear infinite;
}

.jss49 {
  animation: jss50 6s linear infinite;
}

.animateRoad {
  stroke-dasharray: 960;
  animation: animate-blue-line 2s linear;
}

.animateData > g {
  transform-origin: center;
  transform-box: fill-box;
  transform: var(--t);
  transition-delay: 2s;
  animation: animate-icons 0.5s ease 2s;
}

.animatePopup {
  transform-origin: center;
  transform-box: fill-box;
  transform: translate(2184.1px, 12626px);
  transition-delay: 4s;
  animation: animate-popup 0.25s ease-in 4s;
}

.animatePulse > circle {
  animation: pulse 1.75s ease-in-out 2.5s infinite;
}

.animateIcons > g {
  transform-origin: center;
  transform-box: fill-box;
  transform: var(--t);
  transition-delay: 1s;
  animation: animate-icons 0.5s ease 1s;
}

.animatePowerLines {
  transform: translate(8461.833px, 6466.907px);
  opacity: 0.8;
  transition: opacity 0.75s ease-in 2s;
}

.animatePowerLines > path {
  animation: animate-power-lines 6s linear 2s infinite;
}

.jss23 > div > svg {
  animation: jss24 600ms ease-in-out;
}

.jssbuilding13 {
  animation: jss16 1s ease;
  transform-origin: bottom right;
}

.jssgetbetter {
  top: 164px;
  right: 124px;
  width: 44px;
  height: 44px;
  position: absolute;
  animation: jss13 1s ease infinite;
  border-radius: 50%;
}

.jss63 {
  animation: jss64 2500ms linear 500ms, jss65 1s ease 2300ms;
  stroke-linecap: round;
  stroke-dasharray: 680;
  stroke-dashoffset: 680;
}

.jss76 {
  animation: jss77 100ms linear infinite 7s;
}

.jss74 > g {
  animation: jss75 500ms ease-in 7s;
  transform-box: fill-box;
  transform-origin: center;
}

.jss72 {
  animation: jss73 3s linear infinite 4s;
}

.jss66 {
  animation: jss67 3s linear infinite 4s;
  transform-box: fill-box;
  transform-origin: center;
}

.jss68 {
  animation: jss69 3s linear infinite 4s;
  transform-box: fill-box;
  transform-origin: center;
}

.jss70 {
  animation: jss71 3s linear infinite 4s;
  transform-box: fill-box;
  transform-origin: center;
}

.jss54 {
  animation: jss55 4s ease;
  transform: translate(430.684px, 356.952px);
}

.jss56 {
  animation: jss57 2s ease infinite 4s;
}

.jss56 > g > g:first-child {
  animation: jss58 1s ease 4s;
  isolation: isolate;
  mix-blend-mode: luminosity;
}

.jss61 {
  animation: jss62 1s linear infinite 3s;
}

.jss78 {
  animation: jss79 100ms infinite 5s;
}

.jss80 > g {
  animation: jss63 500ms ease-in 5s;
  transform-box: fill-box;
  transform-origin: center;
}

.jss82 {
  animation: jss82 750ms linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

.animateLine {
  transform: translate(995px, -10094px);
  transition-delay: 0.5s;
}

.animateLine path {
  stroke-dasharray: 525;
  animation: line-animate 1.5s linear 0.5s;
}

.animatePulseCar {
  animation: animate-car-pulse 2s ease-in-out 4s infinite;
}

.animateCar > g {
  transform: translate(-726.184px, 10820.605px) rotate(13deg);
  transition-delay: 2s;
  animation: car-animate 2s linear 2s;
}
