// section style
.section {
  @apply pb-[70px] pt-[70px];
}

// container
.container {
  @apply mx-auto max-w-[1140px] px-4;
}

.svgWhite {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 42%;
}

.swiperBox {
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      box-shadow: 0 0 0 1px #a2a8ab;
      background-color: transparent;
      opacity: 1;
      margin: 20px 10px;
      &.swiper-pagination-bullet-active {
        background-color: #0056f1;
        border: 3px solid #fff;
      }
    }
  }
}

.filter-drop-shadow {
  filter: drop-shadow(0 8px 16px rgb(0, 0, 0, 0.16));
}

.destination {
  transition: 0.3s;

  &:hover {
    transform: translateY(-4px);
    .destinationInfo {
      opacity: 1;
      visibility: visible;
    }
  }

  .destinationInfo {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
}

.hover-transform-translateY {
  transition: 0.3s;
  &:hover {
    transform: translateY(-7px);
  }
}

.input-rounded {
  input {
    border-radius: 32px;
  }
}

.about-us-title {
  &::after {
    position: absolute;
    content: '';
    width: 30%;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    background-size: 18px 18px;
    background-image: radial-gradient(rgb(13, 71, 161) 20%, transparent 20%);
    opacity: 0.2;
  }
}

.about-gallery {
  & .item-1 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (min-width: 768px) {
      grid-row: span 2 / span 2;
    }
  }

  & .item-2 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (min-width: 768px) {
      grid-column: span 2 / span 2;
    }
  }

  & .item-3 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (min-width: 768px) {
    }
  }

  & .item-4 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (min-width: 768px) {
      grid-column: span 2 / span 2;
    }
  }

  & .item-5 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

.globeBox {
  overflow: hidden;
  width: 335px;
  height: 335px;
  @media only screen and (min-width: 430px) {
    width: 400px;
    height: 400px;
  }
}

.map-feature-header-bg {
  max-width: none;
  top: -140px;
  left: 0px;
  position: absolute;
}

.map-feature-signs {
  position: absolute;
  top: -49px;
  left: 179px;
}

.map-feature-svg {
  position: absolute;
  top: -115px;
  left: 165px;
  z-index: 2;
}

.map-feature-topcard {
  background: #f7f9fc;
  padding: 24px;
  border-radius: 16px;

  @media only screen and (min-width: 992px) {
    background: transparent;
    padding: 0;
    border-radius: 0;
  }
}

.map-feature-topcard-img {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;

  @media only screen and (min-width: 768px) {
    width: 50%;
  }

  @media only screen and (min-width: 992px) {
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }
}

.map-feature-topcard-cont {
  @media only screen and (min-width: 992px) {
    position: absolute;
    height: calc(100% - 47px);
    width: 73%;
    right: 0;
    bottom: 0;
    padding: 24px 24px 24px 200px;
    display: flex;
    align-items: center;
    background: #f7f9fc;
    border-radius: 16px;
    text-align: right;
  }

  & > div {
    position: relative;
    z-index: 2;
  }
}
