// section style
.section {
  @apply pb-[70px] pt-[70px];
}

// container
.container {
  @apply mx-auto max-w-[1140px] px-4;
}

.svgWhite {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 42%;
}

.swiperBox {
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      box-shadow: 0 0 0 1px #a2a8ab;
      background-color: transparent;
      opacity: 1;
      margin: 20px 10px;
      &.swiper-pagination-bullet-active {
        background-color: #0056f1;
        border: 3px solid #fff;
      }
    }
  }
}

.filter-drop-shadow {
  filter: drop-shadow(0 8px 16px rgb(0, 0, 0, 0.16));
}

.destination {
  transition: 0.3s;

  &:hover {
    transform: translateY(-4px);
    .destinationInfo {
      opacity: 1;
      visibility: visible;
    }
  }

  .destinationInfo {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
}

.hover-transform-translateY {
  transition: 0.3s;
  &:hover {
    transform: translateY(-7px);
  }
}

.input-rounded {
  input {
    border-radius: 32px;
  }
}

.about-us-title {
  &::after {
    position: absolute;
    content: '';
    width: 30%;
    z-index: 1;
    top: 0px;
    left: 0px;
    height: 100%;
    background-size: 18px 18px;
    background-image: radial-gradient(rgb(13, 71, 161) 20%, transparent 20%);
    opacity: 0.2;
  }
}

.about-gallery {
  & .item-1 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (min-width: 768px) {
      grid-row: span 2 / span 2;
    }
  }

  & .item-2 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (min-width: 768px) {
      grid-column: span 2 / span 2;
    }
  }

  & .item-3 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (min-width: 768px) {
    }
  }

  & .item-4 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (min-width: 768px) {
      grid-column: span 2 / span 2;
    }
  }

  & .item-5 {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

.globeBox {
  overflow: hidden;
  width: 335px;
  height: 335px;
  @media only screen and (min-width: 430px) {
    width: 400px;
    height: 400px;
  }
}

.map-feature-header-bg {
  max-width: none;
  top: -140px;
  left: 0px;
  position: absolute;
}

.map-feature-signs {
  position: absolute;
  top: -49px;
  left: 179px;
}

.map-feature-svg {
  position: absolute;
  top: -115px;
  left: 165px;
  z-index: 2;
}

.map-feature-topcard {
  background: #f7f9fc;
  padding: 24px;
  border-radius: 16px;

  @media only screen and (min-width: 992px) {
    background: transparent;
    padding: 0;
    border-radius: 0;
  }
}

.map-feature-topcard-img {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;

  @media only screen and (min-width: 768px) {
    width: 50%;
  }

  @media only screen and (min-width: 992px) {
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }
}

.map-feature-topcard-cont {
  @media only screen and (min-width: 992px) {
    position: absolute;
    height: calc(100% - 47px);
    width: 73%;
    right: 0;
    bottom: 0;
    padding: 24px 24px 24px 200px;
    display: flex;
    align-items: center;
    background: #f7f9fc;
    border-radius: 16px;
    text-align: right;
  }

  & > div {
    position: relative;
    z-index: 2;
  }
}

.energy-drone {
  top: 0px;
  position: absolute;
  z-index: 3;
  display: none;
  @media only screen and (min-width: 992px) {
    display: block;
  }
}

.energy-header-bg {
  width: auto;
  top: -85px;
  position: absolute;
  left: 0px;
  max-width: none;
}

.energy-banner-svg-1 {
  position: absolute;
  left: 0px;
  top: -85px;
}

.energy-banner-svg-2 {
  position: absolute;
  top: 0;
  left: 210px;
  z-index: 1;
}

.energy-topcard-bg {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.energy-solution-method-svg {
  position: absolute;
  top: 0;
  right: 0;
  @media only screen and (min-width: 992px) {
    right: auto;
    left: 0;
  }
}

.energy-solution-method-photos {
  position: absolute;
  width: 60%;
  top: 20px;
  left: 40px;
}

.energy-topcard1 {
  width: 65%;
  position: absolute;
  top: 0;
}

.energy-topcard2 {
  width: 65%;
  position: absolute;
  top: 80px;
  left: -20px;
}

.energy-topcard3 {
  width: 65%;
  position: absolute;
  top: 175px;
}

.smartax_bg {
  position: absolute;
  left: -60px;
  bottom: -160px;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
  max-width: none;
}

.icon-building-1 {
  position: absolute;
  z-index: 1;
  left: 88px;
  bottom: 55px;
}

.icon-building-2 {
  position: absolute;
  z-index: 8;
  left: 142px;
  bottom: 75px;
}

.icon-building-3 {
  position: absolute;
  z-index: 7;
  left: 200px;
  bottom: 85px;
}

.icon-building-4 {
  position: absolute;
  z-index: 6;
  left: 280px;
  bottom: 100px;
}

.icon-building-5 {
  position: absolute;
  z-index: 5;
  left: 340px;
  bottom: 170px;
}

.icon-building-6 {
  position: absolute;
  z-index: 4;
  left: 470px;
  bottom: 190px;
}

.icon-building-7 {
  position: absolute;
  z-index: 4;
  left: 530px;
  bottom: 145px;
}

.icon-building-8 {
  position: absolute;
  z-index: 6;
  left: 500px;
  bottom: 85px;
}

.icon-building-9 {
  position: absolute;
  z-index: 5;
  left: 430px;
  bottom: 110px;
}

.icon-building-10 {
  position: absolute;
  z-index: 6;
  left: 410px;
  bottom: 55px;
}

.icon-building-11 {
  position: absolute;
  z-index: 6;
  left: 350px;
  bottom: 35px;
}

.icon-building-12 {
  position: absolute;
  z-index: 7;
  left: 270px;
  bottom: 25px;
}

.icon-building-13 {
  position: absolute;
  z-index: 9;
  left: 60px;
  bottom: 60px;
}

.tax-banner-image {
  @media only screen and (min-width: 768px) {
    height: 300px;
    margin-bottom: 80px;
  }

  @media only screen and (min-width: 1024px) {
    height: auto;
    margin-bottom: 0;
  }
}

.tax-start-sharing {
  padding: 200px 0;
}

.smartax-footer {
  position: absolute;
  top: -230px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
}

.autonomous-header-bg {
  img {
    max-width: none;
  }
}

.topCardBg {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  height: 100%;
  mix-blend-mode: luminosity;
}

.autonomus-topcard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.css-kel5ob {
  width: 100%;
  height: 100%;
  background-color: #2d3748;
}

.css-1i66iuf {
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  background: transparent linear-gradient(0deg, #1b2536 0%, #1b253680 29%, #1b253640 73%, #1b253600 100%) 0% 0%
    no-repeat padding-box;

  @media only screen and (min-width: 768px) {
    height: 323px;
  }
}

.css-18v32hk {
  position: absolute;
  z-index: 1;
  bottom: 20px;

  @media only screen and (min-width: 768px) {
    bottom: 40px;
  }
}

.css-14h387c {
  width: 100%;
  border-radius: 20px;
  height: auto;
  background-color: #1b2536;
}

.animatePoints,
.animatePulseCar {
  transform-origin: center;
  transform-box: fill-box;
}

.animatePoints {
  transform: var(--t) scale(1) !important;
  transition: transform 0.2s ease-in var(--d);
  transition: transform 0.2s ease-in var(--d), -webkit-transform 0.2s ease-in var(--d);
}

.css-ktn11k {
  --t: translate(177.948px, 73.243px);
  --d: 3300ms;
  transform: var(--t) scale(0);
}

.css-lyljjq {
  --t: translate(185.649px, 176.273px);
  --d: 2400ms;
  transform: var(--t) scale(0);
}

.css-1wkttru {
  --t: translate(168.03px, -27.029px);
  --d: 4000ms;
  transform: var(--t) scale(0);
}

.css-wvbgeh {
  --t: translate(145.859px, -92.205px);
  --d: 4400ms;
  transform: var(--t) scale(0);
}

.css-1bpnviz {
  --t: translate(209.649px, -126.079px);
  --d: 4600ms;
  transform: var(--t) scale(0);
}

.css-1th3hzh {
  --t: translate(153.405px, 163.337px);
  --d: 2500ms;
  transform: var(--t) scale(0);
}

.css-10qs7ik {
  --t: translate(220.949px, 14.897px);
  --d: 3800ms;
  transform: var(--t) scale(0);
}

.css-fmshq1 {
  --t: translate(179.835px, -159.138px);
  --d: 4800ms;
  transform: var(--t) scale(0);
}

.css-vnbuhd {
  --t: translate(189.092px, -44.261px);
  --d: 4200ms;
  transform: var(--t) scale(0);
}

.css-ud99dn {
  --t: translate(86.243px, 88.252px);
  --d: 3000ms;
  transform: var(--t) scale(0);
}

.css-b46jz1 {
  --t: translate(133.338px, 142.996px);
  --d: 2600ms;
  transform: var(--t) scale(0);
}

.dt-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;

  @media only screen and (min-width: 768px) {
    left: 10px;
  }
}

.dt-2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  top: 180px;

  @media only screen and (min-width: 768px) {
    left: 10px;
    top: 160px;
  }

  @media only screen and (min-width: 992px) {
    top: 220px;
  }

  @media only screen and (min-width: 1200px) {
    top: 265px;
  }
}

.dt-3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  top: 310px;

  @media only screen and (min-width: 768px) {
    left: 10px;
    top: 290px;
  }

  @media only screen and (min-width: 992px) {
    top: 400px;
  }

  @media only screen and (min-width: 1200px) {
    top: 460px;
  }
}

.css-s8gcyy {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

.css-xn0zva {
  position: absolute;
  z-index: 3;
  left: 0px;
  top: 0px;
}

.css-40s3d0 {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

.developer-title {
  &::after {
    position: absolute;
    content: '';
    width: 30%;
    z-index: 1;
    top: 0px;
    right: 0px;
    height: 100%;
    background-size: 18px 18px;
    background-image: radial-gradient(rgb(13, 71, 161) 20%, transparent 20%);
    opacity: 0.2;
  }
}

.app-item {
  transition: all 0.2s;
  &:hover {
    background-color: #d1d3d5;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.4;
    .app-item-icon {
      svg {
        path {
          fill: #d1d3d5;
          &.jss104 {
            animation: none;
          }
        }
      }
    }
  }
}
